<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--Define Alias-->
    <typeAliases>
        <typeAlias alias="msquare" type="testMyBatis.pojo.Square"/>
    </typeAliases>
    
    <!--Define DB Info-->
    <environments default="development">
        <environment id="development">
            <!--JDBC transaction management-->
            <transactionManager type="JDBC"/>
            <!--Config DB connection-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc://localhost:3306/testmb?useSSL=false;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="galland990531"/>
            </dataSource>
        </environment>
    </environments>

    <!--define mapper-->
    <mappers>
        <mapper resource="testMyBatis/mapper/squareMapper.xml"/>
    </mappers>
</configuration>